---
import config from "../../config.json";
import Layout from "../layouts/Layout.astro";
import TextScrolling from "../components/TextScrolling.astro";
import TextTyping from "../components/TextTyping.astro";
import Particles from "../components/Particles.astro";
import GithubCorner from "../components/GithubCorner.astro";
import Footer from "../components/Footer.astro";
---

<Layout title={`${config.title} | ${config.description}`}>
  <div id="particles" class="fixed top-0 z-0 w-screen h-screen"></div>
  <main
    id="content"
    class="relative z-40 flex items-center justify-center h-screen animated-show"
  >
    {config.githubRepository && <GithubCorner url={config.githubRepository} />}
    <section>
      <TextScrolling delay="1s" />
      <h1
        class="text-5xl font-bold text-transparent gradient-text-short animated-gradient-short cursor-default"
      >
        {config.title}
      </h1>
      <TextTyping
        class="hidden mt-3 mb-1 text-3xl font-bold sm:block"
        text={config.description}
        delay="0.5s"
      />
      <a href={config.linkUrl} class="z-50 block hover:underline"
        >{config.linkLabel} <span>&rarr;</span>
      </a>
    </section>
    <Footer url={config.githubRepository} />
  </main>
  <Particles />
</Layout>
